 body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 0;
            padding: 0;
            text-align: center;
            background-color: #f4f4f4;
        }
        header {
            background: #333;
            color: #fff;
            padding: 10px 0;
        }
        header h1 {
            margin: 0;
        }
        img {
            border-radius: 50%;
            margin-top: 20px;
            width: 150px;
            height: 150px;
        }
        section {
            margin: 20px 0;
            padding: 20px;
            background: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        ul {
            list-style-type: none;
            padding: 0;
        }
        li {
            margin: 5px 0;
        }
        a {
            color: #0073b1;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }